//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and OneUI functions/mixins/styles etc
// --------------------------------------------------

// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

#sidebar {
    .content-header {
        height: 10rem;
    }

    .js-sidebar-scroll {
        height: calc(100% - 10rem);
    }
}

div.dataTables_wrapper {
    div.dataTables_filter {
        label {
            display: block;
        }

        input {
            margin-left: 0;
            margin-right: 0.5em;
        }
    }
}

.dataTables_paginate .pagination {
    li.previous i,
    li.next i {
        transform: scaleX(-1);
    }
}

.select2-results__option {
    text-align: right;
}

.select2-container.no-left-border-radius {
    .select2-selection {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

body.modal-open {
    overflow: auto;
    padding-right: 0 !important;
}
